/* Write your CSS here */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .message-container {
    width: 450px;
    height: 450px;
  }
}
